layout {
    tab name="sisfin-api" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane size="65%" command="zsh" {
                args "-c" "cd sisfin-api && NVIM_APPNAME=smoothvim nvim "
            }
            pane split_direction="horizontal" size="35%" {
                pane size="60%"
                pane size="40%"
            }
        } 
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="sisfin-front" {
        pane size=1 borderless=true {
             plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane size="65%" command="zsh" {
                args "-c" "cd sisfin-front && NVIM_APPNAME=smoothvim nvim"
            }
            pane size="35%"
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="lazygit-api" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="lazygit-front" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
