layout name="auth" {
    cwd "~/projects/auth"
    tab name="auth-api" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="zsh" {
            args "-c" "cd auth-api && NVIM_APPNAME=smoothvim nvim ."
        } 
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="auth-front" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="zsh" {
            args "-c" "cd auth-front && NVIM_APPNAME=smoothvim nvim ."
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="api" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane  
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="front" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="empty" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
