layout name="sisfin" {
    cwd "~/projects/sisfin"
    tab name="sisfin-api" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="zsh" {
            args "-c" "cd sisfin-api && NVIM_APPNAME=smoothvim nvim ."
        } 
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="sisfin-front" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="zsh" {
            args "-c" "cd sisfin-front && NVIM_APPNAME=smoothvim nvim ."
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="lazygit-api" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="lazygit-front" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="lazydocker" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="zsh" {
            args "-c" "lazydocker"
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
