layout name="sisfin" {
    cwd "~/projects/sisfin"
    tab name="sisfin-api" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane 
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="sisfin-front" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane 
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="git" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane 
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="server" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="horizontal" {
            pane 
            pane 
        } 
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
